<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <title>@ViewData["Title"] - HELPERLAND</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    <script src="~/lib/jquery/jquery.js"></script>
   
    @if (IsSectionDefined("Link"))
    {
        @RenderSection("Link", required: true)
    }

</head>
<body>

    @if (!User.Identity.IsAuthenticated)
    {
        <header id="header">
            <nav class="navbar navbar-expand-lg  navbar-dark" style="background-color: #525252;">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-action="index" asp-controller="home"><img src="~/images/logo.png" width="73px" height="54px"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                        <ul class="navbar-nav text-center  ">
                            
                            <li class="nav-item nav-padding ">
                                <a class="nav-link border border-1 rounded-pill ms-1 me-1 " style="padding:.4rem 1.5rem .5rem 1.5rem" asp-action="price" asp-controller="home">Prices & services</a>
                            </li>

                            <li class="nav-item nav-padding">
                                <a class="nav-link  border border-0" style="padding-left:2rem;padding-right: 1.5rem;" href="#">Warranty</a>
                            </li>
                            <li class="nav-item nav-padding">
                                <a class="nav-link " style="padding-left:2rem;padding-right: 2rem;" href="#">Blog</a>
                            </li>
                            <li class="nav-item nav-padding">
                                <a class="nav-link " style="padding-left:2rem;padding-right: 1.5rem;" asp-action="contact" asp-controller="home">Contact</a>
                            </li>

                            <li class="nav-item nav-padding ">
                                <a class="nav-link border border-1 rounded-pill ms-1 me-1 " style="background-color: #29626d;padding-left:1.5rem;padding-right: 1.5rem;padding-top: 0.4rem;padding-bottom: .5rem;"asp-action="AccesManager" asp-controller="home">Login</a>
                            </li>

                            <li class="nav-item nav-padding ">
                                <a class="nav-link border border-1 rounded-pill ms-1 me-1 " style="background-color: #29626d;padding-left:1.5rem;padding-right: 1.5rem;padding-top: 0.4rem;padding-bottom: .5rem;" asp-action="service_provider" asp-controller="home">Become a Helper</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
    else
    {
        <header class="header">
            <nav class="d-none d-md-flex navbar navbar-expand-md  container-fluid justify-content-between ">

                <div class="header-logo">
                    <a asp-action="Index" asp-controller="Home" >
                        <img src="~/images/logo-small.png">
                    </a>
                </div>


                <!-- Links -->
                <div class="header-links  d-flex align-items-center">
                    <ul class="navbar-nav ">
                       
                        <li class="nav-item nav-item-sp">
                            <a class="nav-link aa" id="btn-hover"asp-action="Price" asp-controller="Home" >Prices & services</a>
                        </li>
                        <li class="nav-item nav-item-sp">
                            <a class="nav-link" href="#">Warranty</a>
                        </li>
                        <li class="nav-item nav-item-sp">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                        <li class="nav-item nav-item-sp">
                            <a class="nav-link" asp-action="Contact" asp-controller="Home" >Contact</a>
                        </li>

                    </ul>



                    <div class="header-icons d-flex align-items-center justify-content-center">
                        <div class="notification d-flex justify-content-center">
                            <img src="~/images/icon-notification.png" width="29px" height="32px">
                            <span class="position-relative text-center badge rounded-circle">2</span>
                        </div>

                        <div class="man d-flex align-items-center  " id="headerManId">
                            <img src="~/images/man.png ">
                            <div class="down-arrow">
                                <img src="~/images/down-arrow-service.png">
                            </div>

                        </div>

                    </div>

                </div>

            </nav>
            <div class="header-dropdown-div">
                <div class="triangle-up"></div>
                <ul class="header-dropdown-1">
                <li class="header-man-welcome">Welcome</li>
                <li>@User.Identity.Name.Split(" ").ElementAt(0) </li>
                 </ul>
                 <hr class="header-drop-hr" >
                  <ul class="header-dropdown-2">
                  <li><a class="LogOutClassLink" asp-action="NewServiceRequests" asp-controller="ServiceProvider">My Dashboard</a></li>
                  <li><a class="LogOutClassLink" asp-action="SPAccount" asp-controller="ServiceProvider">My Setting</a></li>
                  <li><a class="LogOutClassLink" asp-action="LogOut" asp-controller="Account">LogOut</a></li>
                  </ul>
            </div>
            <nav class="navSm d-flex d-md-none align-items-center justify-content-between">
                <div class="logoDiv">
                    <a class="d-block" asp-action="index" asp-controller="home">
                        <img src="~/images/logo-small.png" alt="logo" />
                    </a>
                </div>
                <div class="notifications position-relative">
                    <img src="~/images/icon-notification.png" />
                    <span class="position-absolute text-center badge rounded-circle">2</span>
                </div>
                <div class="hamburger me-3 me-md-0"></div>
                <div class="fullPage d-flex">
                    <div class="fullPageHidden"></div>
                    <div class="navSmMenu bg-white">
                        <div class="greetings">
                            Welcome,<br />
                            <strong>@User.Identity.Name</strong>
                        </div>
                        <hr class="my-1" />
                       
                            
                            <ul>
                            <li class="navSmMenuItem"><a class="vertical-a-color"  >Dashboard</a></li>
                            <li class="navSmMenuItem"><a class="" asp-action="NewServiceRequests" asp-controller="ServiceProvider">New Service Request</a></li>
                            <li class="navSmMenuItem "><a class="" asp-action="SPUpcomingService" asp-controller="ServiceProvider">Upcoming Service</a></li>
                            <li class="navSmMenuItem"><a class="vertical-a-color" asp-action="ServiceSchedual" asp-controller="ServiceProvider">Service Schedual</a></li>
                            <li class="navSmMenuItem"><a class="vertical-a-color" asp-action="SPServiceHistory" asp-controller="ServiceProvider">Service History</a></li>
                            <li class="navSmMenuItem"><a class="vertical-a-color" asp-action="SPMyRating" asp-controller="ServiceProvider">My Rating</a></li>
                            <li class="navSmMenuItem"><a class="vertical-a-color" asp-action="BlockCustomer" asp-controller="ServiceProvider">Block Customer</a></li>
                            <li class="navSmMenuItem"><a class="LogOutClassLink" asp-action="MyAccount" asp-controller="CustomerService">My Setting</a></li>
                            <li class="navSmMenuItem"><a asp-action="LogOut" asp-controller="Account">Logout</a></li>
                            <hr class="my-1" />
                            <li class="navSmMenuItem"><a asp-action="BookServicePage" asp-controller="BookService">Book now</a></li>
                            <li class="navSmMenuItem"><a  asp-action="price" asp-controller="home">Plans & Services</a></li>
                            <li class="navSmMenuItem"><a href="#">Warranty</a></li>
                            <li class="navSmMenuItem"><a href="#">Blog</a></li>
                            <li class="navSmMenuItem"><a asp-action="Contact" asp-controller="Home">Contact</a></li>
                            <hr class="my-1" />
                            </ul>

                            
                        
                        

                    </div>
                </div>
            </nav>

        </header>

    }


    <div>
        @RenderBody()
    </div>
    @if (IsSectionDefined("div"))
    {
        @RenderSection("div", required: true)
    }


    <footer>
        <div class="footerMain d-flex align-items-center justify-content-between">
            <div class="footerLogo">
                <a asp-action="index" asp-controller="home">
                    <img src="~/images/logo.png" width="100px">
                </a>

            </div>
            <div class="footerMenu d-flex flex-wrap align-items-center justify-content-center">
                <ul class=" flex-wrap align-items-center d-flex justify-content-center">
                    <li class="footerMenuItem">
                        <a asp-action="index" asp-controller="home">HOME</a>
                    </li>
                    <li class="footerMenuItem">
                        <a asp-action="about" asp-controller="home">ABOUT</a>
                    </li>
                    <li class="footerMenuItem">
                        <a href="#">TESIMONIALS</a>
                    </li>
                    <li class="footerMenuItem">
                        <a asp-action="faq" asp-controller="home">FAQS</a>
                    </li>
                    <li class="footerMenuItem">
                        <a href="#">INSURANCE POLICY</a>
                    </li>
                    <li class="footerMenuItem">
                        <a href="#">IMPRESSUM</a>
                    </li>

                </ul>
                <!-- <div class="footerMenuItem"><a href="#">IMPRESSUM</a></div> -->
            </div>
            <div class="socialMedia d-flex flex-nowrap align-items-center justify-content-center">
                <a class="d-flex align-items-center justify-content-center rounded-circle"
                   href="https://facebook.com/helperDE"
                   target="_blank"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   title="Like Us on Facebook">
                    <svg xmlns="http://www.w3.org/2000/svg" width="9" height="18">
                        <path fill-rule="evenodd"
                              fill="#CCC"
                              d="M1.947 3.48v2.481H0v3.033h1.947V18.1h4.001V8.995h2.685S8.885 7.541 9.7 5.95H5.963V3.876c0-.31.437-.728.868-.728H9.11V.9H6.46C1.848.9 1.947 3.27 1.947 3.48z" />
                    </svg>
                </a>
                <a class="d-flex align-items-center justify-content-center rounded-circle"
                   href="https://instagram.com"
                   target="_blank"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   title="Follow Us on Instagram">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                        <path fill-rule="evenodd"
                              fill="#CCC"
                              d="M14.48 20H5.519A5.524 5.524 0 0 1 0 14.482V5.52C0 2.477 2.475.2 5.519.2h8.961c3.043 0 5.519 2.277 5.519 5.32v8.962A5.525 5.525 0 0 1 14.48 20zm3.744-5.518V5.52a3.748 3.748 0 0 0-3.744-3.744H5.519A3.749 3.749 0 0 0 1.774 5.52v8.962a3.749 3.749 0 0 0 3.745 3.744h8.961a3.748 3.748 0 0 0 3.744-3.744zm-2.855-8.536c-.099 0-.678-.14-.92-.381-.242-.243.221-.578.221-.921 0-.342-.463-.678-.221-.92.242-.242.821-.381.92-.381.343 0 1.111.139.92.381.242.242.381.578.381.92 0 .342-.139.678-.381.921.171.241-.577.381-.92.381zm-5.37 9.208c-2.841 0-5.153-2.312-5.153-5.054 0-2.941 2.312-5.252 5.153-5.252 2.842 0 5.153 2.311 5.153 5.252 0 2.742-2.311 5.054-5.153 5.054zm0-8.532c-1.863 0-3.379 1.516-3.379 3.478 0 1.764 1.516 3.28 3.379 3.28s3.379-1.516 3.379-3.28c0-1.962-1.516-3.478-3.379-3.478z" />
                    </svg>
                </a>
            </div>
        </div>
        <hr />
        <div class="terms text-center">
            ©2018 Helperland. All rights reserved. <a href="#">Terms and Conditions</a> | <a href="#">Privacy Policy</a>
        </div>
    </footer>

   @* @await RenderSectionAsync("Scripts", required: false)*@
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <script src="~/js/_Layout.js" asp-append-version="true"></script>
<script>
    $(document).ready(function () {
        $("#bookServiceId").on("click", function () {
            alert("working");
        });
    });
</script>


@if (IsSectionDefined("script"))
{
    @RenderSection("script", required: true)
  
}

</html>
