@using Helperland.Models
@using Helperland.ViewModels
@model ServiceRequest

@{
    string comment;
    string commentImgUrl;
    Layout = null;

    if (Model.HasPets)
    {
        comment = "I have pets at home";
        commentImgUrl = "/images/right.png";
    }
    else
    {
        comment = "I don't have pets at home";
        commentImgUrl = "/images/not-included.png";
    }

    string extras="";
    foreach (var extra in Model.ServiceRequestExtra)
    {
        switch (extra.ServiceExtraId)
        {
            case 1:extras += "Inside cabinets";
                break;
            case 2:extras += " Inside fridge";
                break;
            case 3:extras += " Inside oven";
                break;
            case 4:extras += " Laundry wash & dry";
                break;
            case 5:extras += " Interior windows";
                break;
        }
    }
    string addressString = "https://www.google.com/maps/embed/v1/place?key=AIzaSyAC-8ggDYHZme3Nnd5c9yJEdipoXEc4AJ4&q= "+Model.ServiceRequestAddress.ElementAt(0).AddressLine1 + ", " + Model.ServiceRequestAddress.ElementAt(0).AddressLine2 + ", " + Model.ServiceRequestAddress.ElementAt(0).PostalCode + ", " + Model.ServiceRequestAddress.ElementAt(0).City;

    var startTime = Model.ServiceStartDate;
    var endTime = startTime.AddHours(Model.ServiceHours);
}

<div class="modal-dialog modal-dialog-centered srd-modal-dialog"  style="margin:auto">
  <div class="modal-content">
    <div class="modal-header">
      <h6 class="modal-title">Service Details</h6>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        
      ></button>
    </div>
    <div class="modal-body service-request-detail d-flex">
        <div style="width:55%" >
            <h5>@Model.ServiceStartDate.ToString("dd/MM/yyyy") @startTime.ToString("HH:mm")-@endTime.ToString("HH:mm")</h5>
      
      <span><b>Duration: </b>@Model.ServiceHours Hrs</span><br />

      <div class="d-flex justify-content-center my-2">
        <hr class="divider-line" />
      </div>

      <span><b>Service Id: </b><span id="serviceId">@Model.ServiceRequestId</span></span><br />
      <span><b>Extras: </b>@extras</span><br />
      <div class="d-flex align-items-start"><span><b>Net Amount: </b></span> <span class="payment-text ms-5">@Model.TotalCost &euro;</span></div>

      <div class="d-flex justify-content-center my-2">
        <hr class="divider-line" />
      </div>

      <span><b>Service Address: </b> @Model.ServiceRequestAddress.ElementAt(0).AddressLine1 @Model.ServiceRequestAddress.ElementAt(0).AddressLine2</span><br />
      <span><b>Billing Address: </b>Same as cleaning address</span><br />
      <span><b>Phone: </b>+91  @Model.ServiceRequestAddress.ElementAt(0).Mobile</span><br />
      <span><b>Email: </b> @Model.ServiceRequestAddress.ElementAt(0).Email</span><br />

      <div class="d-flex justify-content-center my-2">
        <hr class="divider-line" />
      </div>

      <span><b>Comments:</b><br /><img src=@commentImgUrl alt="" class="me-2">@comment</span><br />

      <div class="d-flex justify-content-center my-2">
        <hr class="divider-line" />
      </div>
            @if (Model.Status == ValuesData.SERVICE_PENDING)
            {
               <div class="d-flex"><a class="rounded-pill  Accept-Btn" onclick="AcceptSerFun('@Model.ServiceRequestId')" data-id=@Model.ServiceRequestId>Accept</a></div> 
            }
            @if(Model.Status==ValuesData.SERVICE_ACCEPTED && ViewBag.UPService == true)
            {
                <div class="d-flex">
                    <button type="button" class="Cancle-btn rounded-pill" onclick="CancleClickFun('@Model.ServiceRequestId')">Cancle</button>
                     <button type="button" class="rounded-pill Completed-btn" data-id=@Model.ServiceRequestId onclick="CompleteClickFun('@Model.ServiceRequestId')">Completed</button> 
                </div>

               
            }
        </div>

             <iframe  height="auto" style="border: 0;width:45%;margin-left:20px" loading="lazy" allowfullscreen src="@addressString">
    </div>
  </div>
</div>