@using System.Globalization
@model IEnumerable<Helperland.Models.ServiceRequest>

<table id="upcomingHistoryTable" class="my-2" style="width:100%">
                        <thead>
                            <tr>
                                <th id="th1" > <span class="th-1">Service Id</span></th>
							    <th id="th2">Service Date</th>
							    <th id="th3">Customer Details</th>
							    
                            </tr>
                        </thead>
                        <tbody id="NewServiceBodyId" >
                        @{

                            if(Model != null)
                            {

                                foreach(var Data in Model)
                                {
                                   var ServiceStDate = @Data.ServiceStartDate;
                                    String serstartHour = ServiceStDate. ToString("HH:mm");
                                    string serviceOnlyStatHour = ServiceStDate.ToString("HH");
                                    int endHour = Int16.Parse(serviceOnlyStatHour);
                                    double sqlServiceHour = @Data.ServiceHours;
                                    int sqlserviceHoutInt =(int) @Data.ServiceHours;
                                    double finalDecimalMinut = (sqlServiceHour - sqlserviceHoutInt)*60;
                                    if (finalDecimalMinut >= 60)
                                    {
                                        finalDecimalMinut -= 60;

                                        endHour += 1;
                                    }
                                
                                    string endMinTimestr = ServiceStDate.ToString("mm");
                                    int endmintime=Int16.Parse(endMinTimestr);
                               
                                    int finalendHour = endHour + sqlserviceHoutInt;
                                    //string endTime=
                                    //int fooInt=Int16.Parse(foo);
                                   // int endHour = fooInt + 1; 

                                    var OnlySerStDate=ServiceStDate.ToShortDateString();
                                    //var ServiceTime=
                                
                                    <tr >
                                    <td >
                                    <div class="td-id ">
                                     <span onclick="ServiceDetailFun(@Data.ServiceRequestId);" id="@Data.ServiceRequestId">@Data.ServiceRequestId</span>
                                    </div>

                               
                                    </td>
                           
                                    <td data-order="@Data.ServiceStartDate.Date.ToString("MMddyyyyHHmmss")" >
                                    <div class="td-1 mx-auto">
                                        <div class="d-flex">
                                            <img src="~/images/calander.png" class="me-1"><span
                                                    class="service-detail-date">@Data.ServiceStartDate.Date.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</span>
                                        </div>
                                                @if (finalendHour < 10)
                                                {
                                                     <div class="service-detail-time">
                                                        <img src="~/images/clock.png" class="me-1"> <span><span>@serstartHour</span>-<span><span>0</span>@finalendHour:@finalDecimalMinut<span>@if (finalDecimalMinut < 10) {<Span>0</span>}</span></span></span>
                                                    </div>
                                                }
                                                else
                                                {
                                                     <div class="service-detail-time">
                                                    <img src="~/images/clock.png" class="me-1"> <span><span>@serstartHour</span>-<span></span>@finalendHour:@finalDecimalMinut<span>@if (finalDecimalMinut < 10) {<Span>0</span>}</span></span>
                                                    </div>
                                                }
                                    </div>
                                
                                    </td>
                                
                                        <td>
                                        <div class="justify-content-start align-items-center d-flex td-2">
                                        <div>
                                           <img src="~/images/home-icon.png">
                                        </div>
                                        <div class="d-flex service-provider-name ps-1">
                                        
                                            <div>
                                                <span> @Data.User.FirstName @Data.User.LastName</span>
                                                <br/>
                                                <span> @Data.ServiceRequestAddress.ElementAt(0).AddressLine1</span><span> @Data.ServiceRequestAddress.ElementAt(0).AddressLine2</span><br/>
                                                <span>@Data.ServiceRequestAddress.ElementAt(0).PostalCode</span>
                                            </div>
                                        </div>

                                         </div>
                                     </td>
                             
                                 

                                   

                            </tr>
                                }
                            }
                        }
                     </tbody>
      
                 
                     </table>