@using Helperland.ViewModels.CustomerService
@model FavouriteProvidersViewModel 

@{
    ViewData["Title"] = "favorite Customer";
    
}



@section Link{
     <link rel="stylesheet" href="~/css/CustomerAccount/FavoritePros.css" asp-append-version="true"/>
     <link rel="stylesheet" href="~/css/PopUp.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fontawesome-free-6.0.0-web/css/all.css"  asp-append-version="true"/>
     <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/r-2.2.9/rg-1.1.4/datatables.min.css" />
     <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
}

<main id="newMAinId">

    <div class="modal fade" tab-index="-1" id="BlockModel" role=" dialog"></div> 
     
     <div class="serviceUserHeader container-fluid justify-align-center d-flex justify-content-center">
              <h1 class=" Welcome-user d-flex align-items-center justify-content-center flex-wrap text-break ">Welcome,
            <span class="headerUserName">@User.Identity.Name.Split(" ").ElementAt(0) !</span> </h1>
     </div>   
       
     
        <div class=" container-fluid position-relative d-flex align-items-start justify-content-center my-4">
            
            <partial name="~/Views/CustomerService/VerticalBar.cshtml" />
            <div class="serviceHistoryTableContainer">
               
                   

                   
               
                <div class="tableDiv">
                           <table id="upcomingHistoryTable" class="my-2" style="width:100%">
                    <thead>
                        <tr>
                            <th id="th1" style="width:0px !important"> <span class="th-1">Service Id</span></th>
							
                        </tr>
                    </thead>
                    <tbody id="NewServiceBodyId" >
                    @{

                        if(Model != null)
                        {

                            foreach(var Data in Model.ServiceProviders)
                            {
                              
                                
                                <tr >
                                <td >
                                
                                <div class="table-row my-4  ">
                                <div >
                                <div class="justify-content-center d-flex">
                                 <div class=" customer-img d-flex align-items-center justify-content-center ">
                                    <img src=@Data.UserProfilePicture width="75px" height="75px">
                                    </div>
                                </div>
                                   
                                    <div class="mt-3">
                                    <span>@Data.FirstName @Data.LastName</span>
                                    </div>
                                    <div class="rateit-average">
                                 @{
                                decimal ratingAverage = @Data.RatingRatingToNavigation.Average(x=>x.Ratings);
                                int count = 1;
                                if (@Data.RatingRatingToNavigation.ElementAt(0).Ratings== null)
                                {
                                for(int i = 1; i < 6; i++) { <img src="~/images/star-unfilled.png" class="star-unfilled me-1">
                                  }
                                  }
                                  else
                                  {
                                  
                                  for(int i=1; i < 6; i++) { if (i <=ratingAverage) { <img src="~/images/star-filled.png" class="star-filled me-1">
                                    }
                                    else
                                    {
                                    <img src="~/images/star-unfilled.png" class="star-unfilled me-1">
                                    }
                                    

                                    }
                                    <span>@ratingAverage</span>
                                    }


                                    }
                           </div>
                                    <div class="d-flex">
                                    <div class="mt-3 me-2">
                                                        @if (Model.FavouriteSpIds.Any(x => x == Data.UserId))
                                                        {
                                                            <button class="favorite-btn rounded-pill" onclick='MAkeUnfavourite("@Data.UserId")'> Unfavourite</button>
                                                        }
                                                        else
                                                        {
                                                            <button class="favorite-btn rounded-pill" onclick='MakeFavourite("@Data.UserId")'> Favorite</button>
                                                        }

                                    </div>
                                    <div class="mt-3">
                                                        @if (Model.BlockedSpIds.Any(x => x == Data.UserId))
                                                        {
                                                            <button class="block-btn rounded-pill" onclick='UnlockCustomerFun("@Data.UserId")'> Unlock</button>
                                                        }
                                                        else
                                                        {
                                                            <button class="block-btn rounded-pill" onclick='BlockCustomerFun("@Data.UserId")'> Block</button>
                                                        }

                                    </div>
                                    </div>
                                    
                                </div>
                                </div>
                                </td>
                           
                                

                        </tr>
                            }
                        }
                    }
                 </tbody>
      
                 
                 </table>
                </div>
                  @*<partial name="NewServiceRequestTable.cshtml" />  *@

         

                
            </div>
        </div>

       
</main>



@section script{

<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>   
 <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/r-2.2.9/rg-1.1.4/datatables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="~/js/CustomerAccount/FavoritePros.js" asp-append-version="true"></script>
}